#nametag {
	font-size: 2em;
	font-family: verdana;
}

#contact {
	font-style: italic;
	font-size: 0.8em;
	color: #333;
}

#content {
	width: 80%;
	margin: auto;
	margin-top: 40px;
	float: none;
	color: #333;
	padding: 10px;
}

#selected {
	border-bottom: 3px solid #444;
	font-weight: bold;
	color: #444;
}

#indent {
	margin-left: 20px;
}

.button {
	float: left;
	text-align: center;
	font-size: 1eu;
	color: #777;
	width: 75px;
	border-bottom: 1px dotted #777;
	padding-top: 0px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 3px;
	margin-top:4px;
}

.button:hover {
	color: #AAA;
	border-bottom-color: #AAA;
}

.date {
	font-style: italic;
	font-weight: bold;
	color: #555;
	display: block;
	margin-bottom: 3px;
}

.skill {
	float: left;
	width: 120px;
	margin-bottom: 2px;
}

.proficiency {
	margin-bottom: 2px;
}

header {
	width: 80%;
	margin: auto;
	padding: 10px;
}

h2 {
	color: #222;
	font-style: italic;
	font-size: 20px;
}

h4 {
	color: #333;
}

body {
	font-family: Verdana;
}

html {
}
